*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
.container .videoBox{
    position:relative;
    width:1920px;
    height:1080px;
    margin:40px;
}
.container .videoBox img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.container .videoBox video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    
}